

    <div class="ag-blog-section-wrapper">
      <div class="ag-blog-section-title-container page-width">
        <div class="title-section">
          <h4 class="section-subtitle">{{ section.settings.subtitle }}</h4>
          <h2 class="section-title">{{ section.settings.title }}</h2>
        </div>
        <div>
          <a href="{{ section.settings.blog.url }}"><p>View All</p></a>
        </div>
      </div>
        
        <div class="ag-blog-section-container page-width">
          {% for article in section.settings.blog.articles limit: section.settings.num_posts %}
            {%if forloop.index == 1%}
            <div class="featured__article">
                <div class="featured__article-image-container cover-image">
                    <img class="lazy" src="{{ article.image  |  image_url: width: 700  }}" width="" height="" alt="{{ article.title }}">
                </div>
                <div class="featured__article-content-container article__content-box">
                    <p>{{ section.settings.blog.title }}</p>
                    <a href="{{ article.url }}"><h2>{{ article.title }}</h2></a>
                    <div class="article__details">
                        <p class="article__author-name">By {{ article.author }}</p>
                        <p class="article__date">{{ article.created_at |  date: '%B %d, %Y' }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
          {% endfor %}
            <div class="featured__article-list">
              {% for article in section.settings.blog.articles limit: section.settings.num_posts %}
                {%if forloop.index > 1%}
                  
                <div class="featured__article-list-item">
                    <div class="featured__article-image-list cover-image">
                      <a href="{{ article.url }}"><img class="lazy" src="{{ article.image  |  image_url: width: 700  }}" width="" height="" alt="{{ article.title }}"></a>
                    </div>
                    <div class="featured__article-list-content article__content-box">
                      <p>{{ section.settings.blog.title }}</p>
                      <a href="{{ article.url }}"><h2>{{ article.title }}</h2></a>
                      <div class="article__details">
                          <p class="article__author-name">By {{ article.author }}</p>
                          <p class="article__date">{{ article.created_at |  date: '%B %d, %Y' }}</p>
                      </div>
                    </div>
                </div>
                {% endif %}
              {% endfor %}
      
            </div>
        </div>
    </div>

    {% schema %}
        {
          "name": "Custom Blog List",
          "settings": [
            {
              "type": "text",
              "label": "Section Title",
              "id": "title",
              "default": "Latest Blog Posts"
            },
            {
              "type": "text",
              "label": "Sub Title",
              "id": "subtitle",
              "default": "Blog"
            },
            {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
            },
            {
              "type": "range",
            "id": "post_limit",
            "label": "Post Limit",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3
            }
          ],
          "presets": [
            {
              "name": "Custom Blog List"
            }
          ]
        }
        {% endschema %}