
<style>
        .ag-blog-section-wrapper a{
          text-decoration: none;
        }
        .ag-blog-section-wrapper{
          padding-top: 50px;
          padding-bottom: 50px;
        }
        .ag-blog-section-container{
            display: flex;
            gap: 20px;
        }
        .featured__article{
            position: relative;
            width: calc(50% - 10px);
            display: flex;
            flex: 1;
        }
        .featured__article-list{
            width: calc(50% - 10px);
            flex: 1;
        }
        .featured__article-image-container {
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 8px;
        }
        .featured__article-image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: all .3s ease;
        }
        .featured__article-content-container{
            position: absolute;
            bottom: 30px;
            left: 30px;
            z-index: 11111;
            width: 60%;
            color: white;
        }
        .article__details{
            display: flex;
            justify-content: space-between;
        }
        .featured__article-list{
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
        .featured__article-list-item{
            display: flex;
            gap: 10px;
        }
        .featured__article-image-list{
            width: 40%;
            overflow: hidden;
            border-radius: 8px;
        }
        .featured__article-image-list img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: all .3s ease;
        }
        .featured__article-image-list{
            
        }
        .featured__article-list-content{
            width: 60%;
            padding: 20px;
        }
        .featured__article-content-container h2, .featured__article-content-container p{
          color: white;
        }
        .article__content-box p, .article__details p{
          font-size: 16px;
          font-weight: 400;
          line-height: 18.96px;
          text-align: left;
        }
        .article__content-box h2{
          font-size: 24px;
          font-weight: 500;
          line-height: 28.44px;
          text-align: left;
        }
        .featured__article-list-content h2{
          font-size: 18px;
          font-weight: 500;
          line-height: 26px;
          text-align: left;
        }
        @media screen and (max-width: 768px){
            .ag-blog-section-container, .featured__article-list-item{
                flex-direction: column;
            }
            .featured__article, .featured__article-list, .featured__article-image-list, .featured__article-list-content{
                width: 100%;
            }
            .featured__article-content-container {
                bottom: unset;
                left: unset;
                width: 100%;
                padding: 15px;
            }
        }
    </style>
    <div class="ag-blog-section-wrapper">
        <div class="ag-blog-section-container page-width">
          {% for article in section.settings.blog.articles limit: section.settings.num_posts %}
            {%if forloop.index == 1%}
            <a href="{{ article.url }}">
            <div class="featured__article">
                <div class="featured__article-image-container cover-image">
                    <img src="{{ article.image  |  image_url: width: 700  }}" width="" height="" alt="{{ article.title }}">
                </div>
                <div class="featured__article-content-container article__content-box">
                    <p>{{ section.settings.blog.title }}</p>
                    <a href="{{ article.url }}"><h2>{{ article.title }}</h2></a>
                    <div class="article__details">
                        <p class="article__author-name">{{ article.author }}</p>
                        <p class="article__date">{{ article.created_at |  date: '%B %d, %Y' }}</p>
                    </div>
                </div>
            </div>
            </a>
            {% endif %}
          {% endfor %}
            <div class="featured__article-list">
              {% for article in section.settings.blog.articles limit: section.settings.num_posts %}
                {%if forloop.index > 1%}
                  
                <div class="featured__article-list-item">
                    <div class="featured__article-image-list cover-image">
                      <a href="{{ article.url }}"><img src="{{ article.image  |  image_url: width: 700  }}" width="" height="" alt="{{ article.title }}"></a>
                    </div>
                    <div class="featured__article-list-content article__content-box">
                      <p>{{ section.settings.blog.title }}</p>
                      <a href="{{ article.url }}"><h2>{{ article.title }}</h2></a>
                      <div class="article__details">
                          <p class="article__author-name">{{ article.author }}</p>
                          <p class="article__date">{{ article.created_at |  date: '%B %d, %Y' }}</p>
                      </div>
                    </div>
                </div>
                {% endif %}
              {% endfor %}
      
            </div>
        </div>
    </div>

    {% schema %}
        {
          "name": "Custom Blog List",
          "settings": [
            {
              "type": "text",
              "label": "Section Title",
              "id": "section_title",
              "default": "Latest Blog Posts"
            },
            {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
            },
            {
              "type": "range",
            "id": "post_limit",
            "label": "Post Limit",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 3
            }
          ],
          "presets": [
            {
              "name": "Custom Blog List"
            }
          ]
        }
        {% endschema %}