    <div class="ag-goals-section-wrapper">
        <div class="ag-goals-section-container">
            <div class="ag-goals-section-title-container center">
                <h4 class="section-subtitle">{{ section.settings.subtitle }}</h4>
                <h2 class="section-title">{{ section.settings.title }}</h2>
                <p class="section-description">{{ section.settings.description }}</p>
            </div>
            <div class="ag-goals-section-image-container {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                {%for block in section.blocks%}
                    <div class="ag-goals-image-list-item" {% if settings.animations_reveal_on_scroll %}
                        data-cascade
                        style="--animation-order: {{ forloop.index }};"
                      {% endif %}
                      >
                        <div class="ag-goals-image-container">
                            {% if block.settings.image != blank%}
                                <img class="lazy" src="{{ block.settings.image.src |  image_url: width: 400  }}" width="" height="" alt="{{ block.settings.image.alt }}"/>
                            {% else %}
                                {{ 'image' | placeholder_svg_tag }}
                            {% endif %}
                        </div>
                        <div class="ag-goals-image-content">
                            <div class="ag-goals-image-content-text">
                                <h4 class="column-title">{{ block.settings.title }}</h4>
                                <p class="column-text">{{ block.settings.description }}</p>
                            </div>
                            <div class="ag-goals-image-arrow">
                                <div class="ag-goals-image-arrow-circle">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.9348 10.4127L13.4446 10.4075L13.4195 3.07962L1.91824 14.5093L0.850933 13.4486L12.3508 2.02037L4.97841 1.99405L4.97322 0.513193L13.411 0.542522L13.41 0.535134L14.9002 0.540292L14.9348 10.4127Z" fill="#1B1F23"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                
            </div>
        </div>
    </div>

    {% schema %}
        {
            "name": "Deals Image",
            "tag": "section",
            "class": "section",
            "disabled_on": {
                "groups": ["header", "footer"]
            },
            "settings": [
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Sub Heading",
                    "default": "Sub Heading"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Title Here"
                },
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description Text",
                    "default": "Welcome to my shop!"
                }
            ],
            "blocks": [
                {
                    "type": "image",
                    "name": "Image",
                    "settings": [
                        {
                            "type": "image_picker",
                            "id": "image",
                            "label": "Icon"
                        },
                        {
                            "type": "text",
                            "id": "title",
                            "label": "Title",
                            "default": "Title Here"
                        },
                        {
                            "type": "textarea",
                            "id": "description",
                            "label": "Description Text",
                            "default": "Welcome to my shop!"
                        },
                        {
                            "type": "url",
                            "id": "link",
                            "label": "Link"
                        }
    
                    ]   
                }
            ],
            "presets": [
                {
                    "name": "Deals Image",
                    "blocks":[
                        {
                            "type": "image"
                        },
                        {
                            "type": "image"
                        },
                        {
                            "type": "image"
                        },
                        {
                            "type": "image"
                        },
                    ]
                }
            ]
        }
        {% endschema %}