
    <div class="ag-features-icon-section-wrapper page-width">
        <div class="ag-features-icon-section-container">
            <div class="ag-features-icon-title-container">
                <h4 class="section-subtitle">{{section.settings.subtitle}}</h4>
                <h2 class="section-title">{{section.settings.title}}</h2>
                <p class="section-description"></p>
            </div>
            <div class="ag-features-icon-list">
                {%for block in section.blocks %}
                    <div class="ag-features-icon-list-item">
                        <div class="ag-features-icon-container">
                            <img src="{{ block.settings.image.src |  image_url: width: 50  }}" width="" height="" alt="">
                        </div>
                        <div class="ag-features-text-container">
                            <h4 class="column-title">{{ block.settings.title }}</h4>
                            <p class="column-text">{{ block.settings.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% schema %}
    {
        "name": "Features List",
        "tag": "section",
        "class": "section",
        "disabled_on": {
            "groups": ["header", "footer"]
        },
        "settings": [
            {
                "type": "text",
                "id": "subtitle",
                "label": "Sub Heading",
                "default": "Sub Heading"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Title Here"
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "Description Text",
                "default": "Welcome to my shop!"
            }
        ],
        "blocks": [
            {
                "type": "feature",
                "name": "Feature",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Icon"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Title Here"
                    },
                    {
                        "type": "textarea",
                        "id": "description",
                        "label": "Description Text",
                        "default": "Welcome to my shop!"
                    }

                ]   
            }
        ],
        "presets": [
            {
                "name": "Features List",
                "blocks":[
                    {
                        "type": "feature"
                    },
                    {
                        "type": "feature"
                    },
                    {
                        "type": "feature"
                    },
                    {
                        "type": "feature"
                    },
                ]
            }
        ]
    }
    {% endschema %}