{% stylesheet %}
   .ag-hero-video-container-{{ section.id }} {
          position: relative;
          width: 100%;
          height: {{ section.settings.desktop-video-height  }};  
          overflow: hidden;  
    }
{% endstylesheet %}
<style>
       
        .ag-hero-video-container video {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); 
          min-width: 100%;  
          min-height: 100%;
          object-fit: cover; 
        }
        .ag-hero-video-content {
          position: absolute;
          max-width: 880px;
          left: 40px;
          bottom: 60px;
          color: white;
          font-size: 2rem;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
        .ag-hero-video-content h1{
            font-family: Rubik;
            font-size: 70px;
            font-weight: 600;
            line-height: 82.95px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: white;
        }
        @media screen and (max-width: 768px){
            .ag-hero-video-container{
                height: 60vh;
            }
            .ag-hero-video-content {
                left: 50%;
                width: 80%;
                text-align: center;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            .ag-hero-video-content h1{
                font-size: 36px;
                line-height: 44px;
                text-align: center;
            }
        }
      </style>
  <div class="ag-hero-video-container-{{ section.id }}">
    <video autoplay muted loop>
      <source src="{{ section.settings.video.sources[1].url }}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="ag-hero-video-content">
      <h1>{{ section.settings.title }}</h1>
      <a href="{{ section.settings.button-link }}"><button class="button button--secondary">{{ section.settings.button-text }}</button></a>
    </div>
  </div>

  {% schema %}
    {
      "name": "Hero Video",
      "tag": "section",
      "class": "section",
      "disabled_on": {
        "groups": ["header", "footer"]
      },
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "select",
          "id": "desktop-video-height",
          "label": "Dekstop Video Height",
          "options": [
            {
              "value": "100vh",
              "label": "Full Height"
            },
            {
              "value": "400px",
              "label": "400px"
            },
            {
              "value": "500px",
              "label": "500px"
            },
            {
              "value": "600px",
              "label": "600px"
            }
          ],
          "default": "500px"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title Here"
        },
        {
          "type": "text",
          "id": "button-text",
          "label": "Button Text",
          "default": "Button Text"
        },
        {
          "type": "url",
          "id": "button-link",
          "label": "Button link"
        }
      ],
      "presets": [
        {
          "name": "Hero Video"
        }
      ]
    }
    {% endschema %}
    