
<div class="ag-video-testimonial-wrapper">
    <div class="ag-video-testimonial-container">
        <div class="ag-video-testimonial-title title-section_slick_arrows center">
            <div class="slick-prev-button">
                <button class="slick-custom_arrows slick-prev-custom">{{'icon-arrow-left.svg' | inline_asset_content }}</button>
            </div>
            <div>
                <h4 class="section-subtitle">{{ section.settings.subtitle }}</h4>
                <h2 class="section-title">{{ section.settings.title }}</h2>
                <p class="section-description">{{ section.settings.description }}</p>
            </div>
                
            <div class="slick-next-button">
                <button class="slick-custom_arrows  slick-next-custom">{{'icon-arrow-right.svg' | inline_asset_content }}</button>
            </div>
        </div>
        
        
        <div class="ag-video-testimonial-video-list testimonial-video-slider">
            {% for block in section.blocks %}
                <div class="ag-testimonial-video-items">
                    <div class="video-container">
                      {% assign block_video = block.settings.video.sources[1].url %}}
                        <!-- <video autoplay muted loop>
                            <source class="lazy" src="{{block.settings.video.sources[1].url}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video> -->
                        {{
            block.settings.video
            | video_tag:
              image_size: '1100x',
              autoplay: true,
              loop: section.settings.enable_video_looping,
              controls: false,
              muted: true
          }}
                    </div>
                    {% if block.settings.product %}
                        {% assign product = all_products[block.settings.product] %}
                    <div class="video-product-container">
                        <img src="{{ product.featured_image.src |  image_url: width: 200  }}" width="" height=""  alt="">
                        <div class="product_details">
                            <h5 class="product_title">{{ product.title }}</h5>
                            <p class="product_price">{{ product.price |  money }}</p>
                        </div>
                        <div class="product_add-to-cart-button">
                            <a href="{{ product.url }}">
                                <div class="add-to-cart_plus-icon">
                                    {{'icon-plus.svg' | inline_asset_content }}
                                </div>
                            </a>
                            
                        </div>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}

        </div>
    </div>
</div>


      <script id="rendered-js" >
$('.testimonial-video-slider').slick({
    variableWidth: true,
    slidesToShow: 5,
    lazyLoad: 'ondemand',
        slidesToScroll: 1,
        centerMode: true,
        arrows: true,
        dots: false,
        speed: 300,
        centerPadding: '20px',
        infinite: true,
        autoplaySpeed: 5000,
        autoplay: false,
        prevArrow: $(".slick-prev-custom"),
        nextArrow: $(".slick-next-custom"),
});

$(window).resize(function(){
  $('.testimonial-video-slider')[0].slick.refresh();
});
</script>

{% schema %}
    {
        "name": "Video Testimonial",
        "tag": "section",
        "class": "section",
        "disabled_on": {
            "groups": ["header", "footer"]
        },
        "settings": [
            {
                    "type": "text",
                    "id": "subtitle",
                    "label": "Sub Heading",
                    "default": "Sub Heading"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Title Here"
                },
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description Text",
                    "default": "Welcome to my shop!"
                }
        ],
        "blocks": [
            {
                "type": "video",
                "name": "Video",
                "settings": [
                    {
                    "type": "video",
                    "id": "video",
                    "label": "A Shopify-hosted video"
                    },
                    {
                        "type": "product",
                        "id": "product",
                        "label": "Product to show"
                    }
                ]   
            }
        ],
        "presets": [
            {
                "name": "Video Testimonial"   
            }
        ]
    }
    {% endschema %}